/*
https://css-tricks.com/working-with-shapes-in-web-design/#shapes-transform-rotate
https://codepen.io/noahblon/pen/pjvPPN
https://codepen.io/rachelandrew/pen/dqNeJm
https://www.smashingmagazine.com/2018/09/css-shapes/
https://css-tricks.com/almanac/properties/s/shape-outside/
https://www.sarasoueidan.com/blog/css-shapes/
https://css-tricks.com/forums/topic/css-responsive-circles/
https://vestride.github.io/Shuffle/compound-filters
*/

/* Shape outside experiment 1*/
/*.circle{
   float: left;
    background-image:url("yourImage.png");
    width:50%;
    shape-outside: circle(50%);
    border:2px solid #000;
    box-shadow:0 0 10px #000;
  }

  .circle:after{
    content:"";
    padding-bottom:100%;
    display:block;
  }*/
/*Shape oustide experiment 2

.content {
  max-width: 100%;
  margin: 20px auto;
}

.circle {
  content: "";
  width: 16vw;
  height: 16vw;
  margin: 2vw;
  border: 10px solid #FC466B;

  float: left;
  shape-outside: circle(50%) ;
  clip-path: circle(50%);
}*/
#julianknxxcl {
  background-image: url("JulianKnxxCL.png");
  background-size: contain;
}

/* Shape inside */
.inner-circle {
  background: #385a94;
  border-radius: 50%;
  width: 17vw;
  height: 17vw;
  margin: 1.5vw;
  float: left;
}

/* index css*/
body,html{min-height:200%;
  margin:0;
  padding:0;
  overflow: scroll;
}
.row {
    background: url('Memariani.png');
    opacity: 50%;
    z-index: 1000;
    background-size:cover;
}
img#logo {
  width: 70%;

}

#logo {
    /*position: absolute;
    top: 120px;
    left: 120px;
    width: 70%;*/

    -webkit-transition: -webkit-transform 1.8s ease-in-out;
          transition:         transform 1.8s ease-in-out;
}
#anchor {
  top: 110%;
  width: 100px;
    height: 100px;
    background: red;
    position: fixed;
}
[data-aos="logo-anim"] {
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 40%;
   transition-property: transform, transition;
   transition: bottom 2s;
}

[data-aos="logo-anim"].aos-animate {

 position: fixed;
 bottom: 0;
 width: 100%;
 left: 0;
 top: auto;
 -webkit-transform: scale(0.5) rotate(360deg) translateX(45%);
 transform: scale(0.5) rotate(360deg) translateX(45%);

}
/*#logo:hover {
  -webkit-transform: scale(0.5) rotate(360deg) translateY(100vh);
  transform: scale(0.5) rotate(360deg) translateY(100vh);


}*/
.top-image {

  height: 50vh;
  position: absolute;
  z-index: 0;
}
#img1 {
  background: url("A1.png");

}
#img2 {
  background: url("A2.png");

}
#img3 {
  background: url("A3.png");

}
#img4 {
  background: url("A4.png");


}
