/*
https://css-tricks.com/working-with-shapes-in-web-design/#shapes-transform-rotate
https://codepen.io/noahblon/pen/pjvPPN
https://codepen.io/rachelandrew/pen/dqNeJm
https://www.smashingmagazine.com/2018/09/css-shapes/
https://css-tricks.com/almanac/properties/s/shape-outside/
https://www.sarasoueidan.com/blog/css-shapes/
https://css-tricks.com/forums/topic/css-responsive-circles/
https://vestride.github.io/Shuffle/compound-filters
*/
@font-face {
    font-family: Trajan;
    src: url("TrajanPro-Regular.ttf");
}
/* index css*/
body,html{min-height:200%;
  margin:0;
  padding:0;
  overflow: scroll;
  font-family: "Trajan";
}
/*background images for tracks*/
#julianknxxcl {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/JulianKnxx+-+Candid+Lover.png");
}
#rheaNight {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/RHEA+-+In+The+Night.png");
}
#EfuaSmiles{
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Efua+Smiles+-+Crumbles.jpg");
}
#BusyIngs {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Robyn+Wilton+-+All+The+Busy+Ings+(Film).png");
}
#RoseHips {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Capeface+-+Rose+Hips+(Happy+Cat+Jay+Remix).png");
}
#NFsuicide {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/JulianKnxx+-+Death+Of+A+Non-Fatal+Suicide.png");
}
#GFOTY{
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/GFOTY+-+Tongue.png");
}
#AnotherLove {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Albert+Gold+-+Another+Love+(Happy+Cat+Jay+Remix).png");
}
#Cycle {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Lunacre+-+Cycle+(Happy+Cat+Jay+Remix).png");
}
#Universe {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Sarah+Sarhandi+-+Both+Universe.jpg");
}
#Schtum {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Lunacre+-+Schtum.+EP.jpg");
}
#Harrison {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Alxndr+London+-+Harrison.png");
}
#Harrison {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Alxndr+London+-+Harrison.png");
}
#Shuffle {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Alxndr+London+-+SHUFFLE.png");
}
#Jupiter {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Alxndr+London+-+Jupiter+and+Pluto.png");
}
#Papaya {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Flamingods+-+Papaya+(Happy+Cat+Remix).jpg");
}
#Troupe {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Lunacre+-+Troupe+EP.jpg");
}
#Bletchley {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Lunacre+-+Bletchley.jpg");
}
.turquoise-layer {
  background-color: rgba(94, 240, 240, 0.8);
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    z-index: 1000;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}
.pink-layer {
  background-color: rgba(210, 73, 143, 0.8);
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    z-index: 1000;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}
div.turquoise-layer:hover {
  opacity : 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;

}
div.pink-layer:hover {
  opacity : 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;

}
.turquoise-layer:hover ~ .info  { opacity: 0;}
img#logo {
  width: 70%;

}

#logo {
    /*position: absolute;
    top: 120px;
    left: 120px;
    width: 70%;*/

    -webkit-transition: all 1s ease-in-out;
      transition:all .2s ease-inout;
}

[data-aos="logo-anim"] {
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 8%;
   transition-property: all;
   -webkit-transition: all 1s ease-in-out;
     transition:all .2s ease-inout;
}

[data-aos="logo-anim"].aos-animate {

 position: fixed;
 right: 0;
 left: 60%;
 top: 40%;
 width: 100%;
 align-self: center;
 -webkit-transform: scale(0.3) rotate(270deg);
 transform: scale(0.3) rotate(270deg);

}
/* anchor which triggers animation*/
#anchor {
  top: 110%;
  width: 100px;
    height: 100px;
    background: red;
    position: fixed;
}


/* Shape inside */
.inner-circle {
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  float: left;
  width: 27vw;
  height: 27vw;
  margin: 1.6vw;
  background-size: contain;
  -webkit-transition: 0.25s ease-out;
   -moz-transition: 0.25s ease-out;
   -o-transition: 0.25s ease-out;
}

div.inner-circle:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.inner-circle:hover .info{
opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
#wrapper2 {
  background: linear-gradient(0deg, rgba(94,240,240,1) 0%, rgba(210,73,143,1) 100%);
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
}
#wrapper {
  background-image: url("https://s3.eu-west-2.amazonaws.com/www.happycatjay.com/Twisty+Face+Original_PINK+copy.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}
[data-aos="background-anim"] {
opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

[data-aos="background-anim"].aos-animate {
opacity: 0;
}

#top-image {
  max-height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.info {
  line-height: 3vh;
  opacity: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    radius: 10%;
    border-radius: 5%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;

  font-size: 1vw;
  z-index: 999;
  vertical-align: middle;
  align-self: center;

}
.turquoise-layer ~ .info {
    color: rgb(94, 240, 240)!important;
    background-color: rgba(210, 73, 143, 1)!important;
}
.pink-layer ~ .info {
    color: rgb(210, 73, 143)!important;
    background-color: rgba(94, 240, 240, 1)!important;

}
#social-icons {
  margin: auto;
  position: absolute;
  bottom: 1vw;
}
.social-icons:hover{

          filter: drop-shadow( 0px 0px 2px rgba(94, 240, 240, .6)) drop-shadow( 0px 0px 8px rgba(94, 240, 240, .8) );

}
.social-icons {
width: 5vw;
margin: 1vw;

}
.social-icons:nth-child(1){
  margin-left: 28vw;
}
.social-icons:nth-child(3), .social-icons:nth-child(5) {
  padding-bottom: 1vh;
}
.social-icons:nth-child(3){
  width: 8vw;
}

/*.cont {
  min-width: 100%;
  min-height: 100%;
  background: rgb(94,240,240);
background: linear-gradient(0deg, rgba(94,240,240,1) 0%, rgba(210,73,143,1) 50%, rgba(94,240,240,1) 100%);;
}*/

@media only screen and (max-device-width: 768px) {

  [data-aos="logo-anim"].aos-animate {

   -webkit-transform: scale(0.5) rotate(270deg);
   transform: scale(0.5) rotate(270deg);
   left: 55%;


  }
  [data-aos="logo-anim"] {

    top: 8%;
    left: 10%;
  }
  .embed-responsive {
    margin-top: -28.1%;
  }
  .embed-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0%;
      box-shadow: none;
  }
  #namecard {
    position:fixed;
    font-size: 5vw;
    left:0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .social-icons {
  width: 10vw;
  margin: 1vw;

  }
  .social-icons:nth-child(1){
    margin-left: 16.5vw;
  }

  .social-icons:nth-child(3){
    width: 15vw;
  }
  .inner-circle {
    width: 85vw;
    height: 85vw;
    margin-left: 5vw;
    margin-right: 10vw;
  }
  img#logo {
    width: 80%;

  }
  .turquoise-layer {
    background-color: rgba(94, 240, 240, 0.2);
  }
.pink-layer {
  background-color: rgba(210, 73, 143, 0.2);
}
.info {
  font-size: 3vw;
opacity: 1;
}
}
